body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.word-color {
  color: orange;
}
h1 {
  font-size: 50px;
  margin: 10px 0;
}

.half-width p {
  margin-bottom: 40px;
  font-size: 20px;
}

.half-width a {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(orange, tomato);
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 20px;
}
.fexible-container {
  display: flex;
  align-items: center;
  /* width: 90%; */
  margin-bottom: 80px;
}
.half-width img {
    width: 92%;
    padding: 10px 15px;
}
.half-width {
  width: 50%;
  padding-left: 50px;
  padding-top: 40px;
  text-align: justify;
}

.exp-area {
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.my-recipies {
  text-align: center;
}
.food-img {
  border-radius: 5px;
}
.b-shadow {
  width: 50%;
  box-shadow: 10px 10px 40px gray;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  border-radius: 10px;
}

footer {
  background-color: black;
  text-align: center;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 60px;
}

.snd-title{
    font-size: 30px;
}

.snd-text-width{
    width: 600px;
}

.recipe-text{
    font-size: 12px;
    text-align: justify;
}
